<h1>Logged in as, <%= current_user.username %></h1>
<%= link_to "Log Out", logout_path %>

<%= link_to "Create a New Idea", new_user_idea_path(@user) %> </br>

<% @user.ideas.each do |idea| %>
  <div class="modify">
    <ul>
      <li><%= link_to "#{idear.title}", user_idea_path(@user, idea) %></li>
      <li><%= idea.image %></li>
      <li><%= idea.note %></li>
    </ul>
    <%= link_to "Edit", edit_user_idea_path(@user, idea) %>
    <%= link_to "Delete", user_idea_path(@user, idea), method: :delete %>
  </div>
<% end %>
