<h1><%= current_user.username %>'s Homepage</h1>
</br>
<%= render partial: '/layouts/nav' %>
</br></br>
<% @user.ideas.each do |idea| %>
  <div class="modify">
    <ul>
      <li><%= link_to "#{idea.title}", user_idea_path(@user, idea) %></li>
      <li><img src="<%= idea.image %>" alt ="box pic"></li>
      <li><%= link_to "Change Photo", user_idea_path(@user, idea) %></li>
      <li><%= idea.note %></li>
    </ul>
    <%= link_to "Edit", edit_user_idea_path(@user, idea) %>
    <%= link_to "Delete", user_idea_path(@user, idea), method: :delete %>
  </div>
<% end %>
